.card {
  width:30%;
  margin:50px 20px;
  height:600px;
  display:inline-block;
}

.genre {
  display:inline-block;
  margin:0px 10px;
  font-size:0.8rem;
  font-weight:bold;
}

.cardTitle {
  min-height:50px;
  max-height:120px;
}

#cardGenreTitle {
  font-size:1rem;
}

.cardGenres {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}